.bg-dark{
    background-color: #0f0a5c !important
}

.btn-filtrar{
    float: all;
    margin: 5px 10px;
    background-color:  #0f0a5c !important;
    border-color:  #0f0a5c !important;
}

.upvote, .downvote{
    font-size: 40px;
    text-align: center;
    padding:auto;
}

.upvote{
    margin-top: 20px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .active>.nav-link{
    color: yellow;
}

#login-container{
    margin-top: 20vh;
    margin-bottom: 15vh;
}

#signup-container{
    margin-top: 10vh;
}

#login-title{
    font-family: 'Anton';
    font-size: 90px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #0f0a5c;
}

#login-form{
    margin: auto;
    text-align: center;
}

#login-form>input, #login-form>button{
    float: all;
    margin-top: 10px;
    text-align: center;
    width: 35vw;
}

#login-form>button{
    background-color: #666666;
    border-color: #666666;
}

#login-to-signup{
    text-align: center;
    margin-top: 25px;
}

#login-to-signup>h3{
    color: #666666;
    font-size: 18px;
}

#login-to-signup>button{
    background-color: #666666;
    border-color: #666666;
    margin-top: 10px;
    text-align: center;
    width: 35vw;
}