<!DOCTYPE html>

<head>
  <link rel="manifest" href="./manifest.json">
</head>

<body>
  <form id="submitLoginRequest" action="/login" method="post">
    <input name="username" id="username" class="form-control input-reset" type="login" placeholder="Usuário" required>
    <input name="password" id="password" class="form-control input-reset" type="password" placeholder="Senha" required>
    <button id="btnLogin" type="submit" class="btn btn-primary btn-block" data-toggle="tooltip" data-placement="right" title="Para realizar o login, insira seus dados do portal P+">Entrar</button>
  </form>
  <button type="button" name="button"><a href="/register">Registre-se</a></button>
</body>

</html>
