<!DOCTYPE html>

<head>
    <script type="text/javascript" src="../libs/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/css/nav.css">
    <link rel="stylesheet" href="./public/css/ranking.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include('./nav.ejs') %>
    
    <h2>Quantas estrelas o bizu <%=nome%> merece?</h2>
    <form action="/postrank/<%=idBizu%>" method="post">
        <input type="radio" name="stars" value=1> 1<br>
        <input type="radio" name="stars" value=2> 2<br>
        <input type="radio" name="stars" value=3 checked> 3<br>
        <input type="radio" name="stars" value=4> 4<br>
        <input type="radio" name="stars" value=5> 5<br>
        <input type="submit" value="Submit">
    </form>
    <button class="someButton btn btn-primary" type="button" onclick="location.href = '/ranking'" >Voltar</button>
</body>

</html>