<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="./public/css/nav.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
  <%- include('./nav.ejs') %>
  <ul>
    <li><a href="/uploadbizu">Upload a Bizu</a></li> 
    <li><a href="/Ranking">Ranking</a></li>
    <li><a href="/aboutus">About Us</a></li>
  </ul>
  
  <h1>Hello, <%= user.name %></h1>
</body>

</html>
